  h1 {text-align: center;
  font-size: 40px;}
  p {text-align: center;
  color: rgb(186, 37, 223)}
  div {text-align: center;}
  body {
  background-color: rgb(88, 96, 99); 
}

nav ul li a{
  text-decoration: none;
  font-size: 40;

}

li{
font-size: 30px;
padding: 20px;
}
nav {
  text-align: center; 
}
li a:hover{
  background-color: #111
}
nav ul li {
  display: inline;
}
ul{
  margin: 0;
 padding: 0;
 list-style-type: none;
 overflow: hidden;
 background-color: #333


}